<h2>Sendero</h2>
<h1><%= @roadmap.name %></h1>
<p><%= @roadmap.description %></p>
<p><%= link_to "Incribirme", enroll_path(@roadmap) %></p>

<h2>Hitos del sendero</h2>
<p> aquí pondría los hitos, si tuviera unooooo </p>