<h3>Sendero: <%= @roadmap.name %></h3>
<h1>Hitos</h1>
<ul>
  <% @roadmap.checkpoints.each do |checkpoint| %>
    <li>
      <p><%= checkpoint.name %></p>
      <%= link_to "Ver hito", checkpoint_path(checkpoint) %>
    </li>
  <% end %>
</ul>
